@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>We're using Artificial Intelligence to analyse today's news.</p>

<h3>Sources</h3>
<p>We're powered by <a href="https://newsapi.org/">News Api</a>.</p>


<h3>Topics</h3>
<p> All our topics are generated using <a href="https://www.microsoft.com/cognitive-services/">Microsoft Azure Cognitive Services</a></p>

<h3>We're open source!</h3>
<p>Behind the scenes we're running on Azure Functions and Azure Web Apps</p>
<p>Find us on <a href="https://github.com/xtellurian/sentimentalnews-azurefunctions">GitHub</a></p>
