@{
    ViewData["Title"] = "Home Page";
}

<h2> Welcome to Sentimental News</h2>
<p> Click below to get started</p>

<input type="button" class="my-button" value="Get Started" name="Get Started" 
     onclick="@("location.href='" 
        + Url.Action("Index", "Topics")  
        + "'")" />