
@section Scripts
{
    @{var sourceId = @ViewData["SourceId"];}
    <script>
        $(document).ready(function() {
            sourceDetailTable('@sourceId');
        });
    </script>

}

<div>
    <div align="left">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div align="right">
        <h4><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></h4>
    </div>
</div>
<table id="sources" class="display table responsive" width="100%">
    <thead>
        <tr >
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Description
                </th>
                <th>
                    Sentiment
                </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>