@model Rian.Cognitive.ArticleDataAggregate

@{
    var orderedTopics = Model.Topics.OrderByDescending(m=>m.Score);
    ViewData["Title"]="Topics";                         
}

<h2>Current Topics</h2>
<h4>Created at @Model.Meta.DateCreated?.ToLocalTime().ToString("H:mm on MMMM dd")</h4>
<table class="table">
    <thead>
        <tr>
                <th>
                    Score
                </th>
                <th>
                    Key Phrase
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var topic in orderedTopics) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => topic.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => topic.KeyPhrase)
            </td>
            <td>
                <a asp-action="detail" asp-route-id="@topic.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>

</div>