@section Scripts
{

<script>
    $(document).ready(function() {
        var id = "@ViewData["id"]";
        loadTrendPlot(id);
    })
   
    </script>

}

<div>
 <div align="right">
        <h4><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></h4>
    </div>
 <div id="loader" class="loader top-margin col-centered"></div>
<!-- Plotly chart will be drawn inside this DIV -->
<div id="myDiv"></div>
</div>

